<mat-card >
    <mat-card-header>
        <div mat-card-avatar><mat-icon>gamepad</mat-icon></div>
        <mat-card-title>Motion Control</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="6" rowHeight="3em">
<!--          (keydown.ArrowLeft)="onLeft($event)" (keydown.ArrowRight)="onRight($event)"-->
<!--          (keydown.ArrowUp)="onUp($event)" (keydown.ArrowDown)="onDown($event)"-->
            <!-- Movement buttons -->
            <!-- Top row -->
            <mat-grid-tile colspan="3">
                <button mat-raised-button color="primary" (click)="action_move_forward()" style="width:30%">
                    <mat-icon>north</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <button mat-raised-button color="primary" (click)="action_head_up()" style="width:30%">
                    <mat-icon>expand_less</mat-icon>
                </button>
            </mat-grid-tile>

            <!-- Center row -->
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="action_move_left()" style="width:90%">
                    <mat-icon>undo</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="action_move_cancel()" style="width:90%">
                    <mat-icon>error_outline</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="action_move_right()" style="width:90%">
                    <mat-icon>redo</mat-icon>
                </button>
            </mat-grid-tile>

            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="action_head_left()" style="width:90%">
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="action_head_center()" style="width:90%">
                    <mat-icon>location_searching</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="action_head_right()" style="width:90%">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </mat-grid-tile>


            <!-- Bottom row -->
            <mat-grid-tile colspan="3">
                <button mat-raised-button color="primary" (click)="action_move_back()" style="width:30%">
                    <mat-icon>south</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <button mat-raised-button color="primary" (click)="action_head_down()" style="width:30%">
                    <mat-icon>expand_more</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card-content>
</mat-card>
