<!--<marvin-toolbar></marvin-toolbar>-->

<mat-tab-group backgroundColor="primary">
  <mat-tab label="Marvin Control Center">

    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <camera label="Navigation Camera" feed="video"></camera>
        </div>
        <div class="col-sm">
          <d-pad></d-pad>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Imaging"><imaging-view></imaging-view></mat-tab>
  <mat-tab label="Navigation"><navigation-view></navigation-view></mat-tab>
  <mat-tab label="Controls"><controls-view></controls-view></mat-tab>
  <mat-tab label="Console"><console-view></console-view></mat-tab>
</mat-tab-group>
