
.heartBeatOn {
    transition: color 0.5s; //background 0.5s, box-shadow 0.5s, border-color 0.5s, 
    color: white;
}

.heartBeatOff {
    // border-color: yellow;
    // box-shadow: 0 0 25px black;
    // background: yellow;
    color: black;
}
